@import 'rehype-callouts/theme/github';
@import 'tailwindcss';
@plugin 'flowbite/plugin';
@plugin '@tailwindcss/typography';
@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@font-face {
  font-family: "JetBrains-Mono";
  src: url('/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype'),
    url('/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2')
}

/**
 * Catpuccin inspired color palette
*/
@theme {
  --color-background: #11111b;
  --color-surface: #1e1e2e;
  --color-surface1: #45475a;
  --color-border: #313244;
  --color-border-hover: #45475a;
  --color-body: #cdd6f4;
  --color-sub: #bac2de;
  --color-secondary: #a6adc8;
  --color-title: #cdd6f4;
  --color-section: #b4befe;
  --color-subheading: #89b4fa;
  --color-link: #89b4fa;
  --color-link-hover: #89dceb;
  --color-highlight: #cba6f7;
  --color-success: #a6e3a1;
  --color-warning: #f9e2af;
  --color-error: #f38ba8;
  --color-snippet: #fab387;
  --color-mantle: #181825;

  /* Base */
  --color-crust: #11111b;
  --color-mantle: #181825;
  --color-base: #1e1e2e;

  /* Surface */
  --color-surface0: #313244;
  --color-surface1: #45475a;
  --color-surface2: #585b70;

  /* Overlay */
  --color-overlay0: #6c7086;
  --color-overlay1: #7f849c;
  --color-overlay2: #9399b2;

  /* Text */
  --color-subtext0: #a6adc8;
  --color-subtext1: #bac2de;
  --color-text: #cdd6f4;

  /* Accent colors */
  --color-lavender: #b4befe;
  --color-blue: #89b4fa;
  --color-sapphire: #74c7ec;
  --color-sky: #89dceb;
  --color-teal: #94e2d5;
  --color-green: #a6e3a1;
  --color-yellow: #f9e2af;
  --color-peach: #fab387;
  --color-maroon: #eba0ac;
  --color-red: #f38ba8;
  --color-mauve: #cba6f7;
  --color-pink: #f5c2e7;
  --color-flamingo: #f2cdcd;
  --color-rosewater: #f5e0dc;

  --font-jetbrains-mono: "JetBrains-Mono", sans-serif;
}

/**
* Styles that should be applied regardless to html and body elements
* + Removing default padding and margins
*/
@layer base {

  html,
  body {
    @apply p-0 m-0 flex flex-col min-h-screen bg-surface font-jetbrains-mono;
  }

  h1 {
    @apply text-rosewater
  }

  h2 {
    @apply text-lavender
  }

  h3, h4 {
    @apply text-flamingo
  }

  p {
    @apply text-text
  }

  a {
    @apply text-blue
  }

  a:hover {
    @apply text-sky
  }
}

.prose {
  @apply max-w-none w-full
}

/*
 * Blog post styles for the markdown
 */
.prose {
  h1>a {
    @apply text-4xl sm:text-5xl font-semibold no-underline
  }

  h2>a {
    @apply text-3xl sm:text-4xl font-semibold no-underline
  }

  h3>a {
    @apply text-2xl sm:text-3xl font-semibold no-underline
  }

  h4>a {
    @apply text-xl sm:text-2xl font-semibold no-underline
  }

  h1, h2, h3, h4, h5, p {
    @apply mt-0 mb-6
  }

  /*
   * Code blocks with single back ticks
   */
  code:not(pre code) {
    @apply font-mono px-1 text-sm
  }

  /*
   * Remove back ticks from pseudo-elements before/after
   */
  code:not(pre code)::after, code:not(pre code)::before {
    display: none;
  }

  /*
   * Remove the quotes from block quote content
   */
  blockquote *:after,
  blockquote *:before {
    display: none;
  }

  blockquote p {
    @apply not-italic
  }

  pre {
    @apply bg-surface
  }

  p, li, ol {
    @apply text-base
  }

  li::marker {
    @apply text-base
  }

  strong {
    @apply text-base font-semibold
  }

  a:not(.heading-anchor) {
    @apply text-base font-normal cursor-pointer
  }

  a:hover:not(.heading-anchor) {
    @apply underline text-cyan-600
  }

  hr {
    @apply border-[0.5px] border-border/42
  }
}
